<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='site.css') }}" />
  </head>

  <body class="dark:bg-slate-900 dark:text-white">
    {% block menu %}
    <aside class="p-4 sm:fixed sm:left-0 sm:top-0 sm:z-40 sm:h-screen sm:w-64">
      <nav>
        <ul class="space-y-2">
          {% set index = get_section(path="_index.md") %}
          <li>
            <a
              href="{{ index.permalink | safe }}"
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-700"
              >{{ index.title }}</a
            >
          </li>
          {% for s in index.subsections %}{% set subsection = get_section(path=s) %}
          <li>
            <a
              href="{{ subsection.permalink | safe }}"
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-700"
              >{{ subsection.title }}</a
            >
            {% if subsection.pages %}
            <ul class="border-l border-gray-200 pl-2 dark:border-gray-700">
              {% for page in subsection.pages %}
              <li>
                <a
                  href="{{ page.permalink | safe }}"
                  class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-700"
                  >{{ page.title }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    {% endblock %}
    <main class="p-4 sm:ml-64">
      {% if page.extra.radius or page.extra.gravity or page.extra.population or page.extra.temperature_low or
      page.extra.temperature_high %}
      <section class="max-w-sm rounded border border-gray-200 p-6 sm:float-right">
        <table>
          <tbody>
            {% if page.extra.radius %}
            <tr>
              <th>Radius</th>
              <td>{{ page.extra.radius }} km</td>
            </tr>
            {% endif %}{% if page.extra.gravity %}
            <tr>
              <th>Gravity</th>
              <td>{{ page.extra.gravity }} m/s<sup>2</sup></td>
            </tr>
            {% endif %}{% if page.extra.population %}
            <tr>
              <th>Population</th>
              <td>{{ page.extra.population }}</td>
            </tr>
            {% endif %}{% if page.extra.temperature_low and page.extra.temperature_high %}
            <tr>
              <th>Temperature</th>
              <td>{{ page.extra.temperature_low }} - {{ page.extra.temperature_high }} °C</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </section>
      {% endif %}{% block content %}
      <article class="prose dark:prose-invert">
        {% if section.content %}{{ section.content | safe }}{% endif %}{% if page.content %}{{ page.content | safe }}{%
        endif %}
      </article>
      {% endblock %}
    </main>
  </body>
</html>
